name: Clojure Linting

on:
  pull_request:
    types: [opened, reopened, edited, synchronize]
    paths: ['src/**','test/**','.clj-kondo/config.edn','project.clj','.github/**']

jobs:
  clojure-linting:
    name: Clojure Linting
    runs-on: ubuntu-latest
    steps:
      - name: setup java
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 21
      - name: checkout repo
        uses: actions/checkout@v6
      - name: Install Clojure tools
        uses: DeLaGuardo/setup-clojure@13.4
        with:
          cli: latest              # Clojure CLI based on tools.deps
          lein: latest                  # Leiningen
          boot: latest                  # Boot.clj
          bb: latest                    # Babashka
          clj-kondo: latest        # Clj-kondo
          cljstyle: latest             # cljstyle
          zprint: latest                # zprint
      - name: kondo lint
        run: clj-kondo --lint src test
      - name: eastwood lint
        run: |
          java -version
          lein eastwood
